.ThemePicker {
  position: absolute;
  right: 10px;
  top: 10px;
}

.ThemePicker__toggle {
  border-radius: 1em;
  color: transparent;
  display: flex;
  font-size: 32px;
  overflow: hidden;
  position: relative;
  transition: width 0.2s ease-in-out, background-color 0.2s ease-in,
    color 0.1s 0.1s ease-in;
  width: 36px;

  svg {
    color: var(--color-text);
    display: block;
    position: absolute;
    right: 3px;
    top: 3px;
  }

  &:hover {
    background-color: var(--color-text);
    color: white;
    width: 175px;

    svg {
      color: currentColor;
    }
  }
}

.ThemePicker__toggle__text {
  font-size: 16px;
  margin: 10px 20px;
  white-space: nowrap;
}

.ThemePicker__picker {
  background-color: white;
  border: 1px solid grey;
  border-radius: 4px;
  padding: 15px;
  position: absolute;
  width: 280px;

  &[data-placement='left'] {
    right: 0;
  }

  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }
}

.ThemePicker__options {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(4, 1fr);
}

.ThemePicker__swatch {
  appearance: none;
  background-attachment: unset;
  border: 2px solid grey;
  border-radius: 4px;
  height: 30px;
  margin: 0;
  width: 100%;
}

.ThemePicker__swatch--current {
  box-shadow: 0 0 0 2px var(--color-primary);
  outline: 0;
}
