.PostFooter {
  border-top: 1px solid rgb(161, 161, 161);
  padding-top: 10px;
  margin-top: 60px;
}

.PostFooter__nav {
  display: flex;
  justify-content: space-between;

  @media (max-width: 770px) {
    flex-direction: column;
  }
}

.PostFooter__item {
  margin-bottom: 20px;

  &:first-child {
    &::before {
      content: '\02190 ';
    }
  }

  &:last-child:not(:only-child) {
    text-align: right;
    &::after {
      content: ' \02192';
    }
  }
}
