.ThemePickerSwatch {
  background-attachment: initial;
  border: 2px solid grey;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  height: 0;
  padding-bottom: 100%;
  width: 100%;
}

.ThemePickerSwatch--active {
  border-color: var(--color-primary);
  box-shadow: 0 0 0 2px var(--color-primary);
}
