---
title: Matt Greenfield
---

<!DOCTYPE html>
<html
  lang="en"
  class="theme"
  x-data="{
    selectedTech: [],
    theme: 'default',
    themes: [
      'blue', 
      'red',
      'fugio',
      'yellow',
      'pink',
      'beach',
      'dark',
      'franz',
    ],
    handleClick() {
      const newTheme = this.pickRandomTheme();
      if (newTheme) {
        this.theme = newTheme;
        localStorage.setItem('theme', newTheme)
      }
    },
    pickRandomTheme() {
      const currentThemeIndex = this.themes.indexOf(this.theme);
      let newIndex = Math.floor(Math.random() * this.themes.length);
      
      if (currentThemeIndex === newIndex) {
        this.pickRandomTheme();
        return false;
      }
      return this.themes[newIndex];
    },
    init() {
      // NOTE: Remove the theme classes that were added before Alpine loaded, Alpine will add them back
      const classes = [...document.documentElement.classList].filter((c) => !c.startsWith('theme--'));
      document.documentElement.classList = classes;

      const theme = localStorage.getItem('theme');
      if (theme) { this.theme = theme; }
    }
  }"
  x-bind:class="{ [`theme--${theme}`]: true }"
>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }} | Matt Greenfield</title>

    <meta
      name="description"
      content="Matt Greenfield is a Frontend web developer from Brighton, UK. This website showcases his work."
    />

    <link
      rel="stylesheet"
      href="/assets/styles/index.css?v={{ pkg.version }}"
    />
    <script>
      const theme = localStorage.getItem("theme");
      if (theme) {
        document.documentElement.classList.add(`theme--${theme}`);
      }
    </script>
    <script src="//unpkg.com/alpinejs" defer></script>

    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
  </head>
  <body class="font-sans border-b border-transparent">
    <div class="page">
      <header class="header mb-10">
        <a aria-label="Matt Greenfield." class="header__logo" href="/"
          ><svg
            viewBox="0 0 240 86"
            xmlns="http://www.w3.org/2000/svg"
            width="100%"
          >
            <path fill="var(--color-secondary)" d="M-1 71h241v15H-1z"></path>
            <path
              d="M31.85 3.5L19.7 19.7 7.55 3.5H3.5V35H8V11.15l11.43 15.21h.54L31.4 11.15V35h4.5V3.5h-4.05zm29.97 9.45h4.23V35h-4.23v-2.925c-1.89 2.295-4.725 3.375-7.785 3.375-6.66 0-11.385-5.22-11.385-11.475S47.375 12.5 54.035 12.5c3.06 0 5.895 1.08 7.785 3.375V12.95zm0 15.165v-8.28c-1.89-2.295-4.185-3.375-7.065-3.375-4.995 0-7.785 3.195-7.785 7.515s2.79 7.515 7.785 7.515c2.88 0 5.175-1.08 7.065-3.375zM87.65 16.82v-3.87h-8.28V6.2h-4.23v6.75H71v3.87h4.14V28.7c0 4.59 3.42 6.75 7.47 6.75 1.8 0 3.285-.36 4.77-1.08v-3.735a9.644 9.644 0 0 1-4.185.945c-2.25 0-3.825-.9-3.825-3.15V16.82h8.28zm19.8 0v-3.87h-8.28V6.2h-4.23v6.75H90.8v3.87h4.14V28.7c0 4.59 3.42 6.75 7.47 6.75 1.8 0 3.285-.36 4.77-1.08v-3.735a9.644 9.644 0 0 1-4.185.945c-2.25 0-3.825-.9-3.825-3.15V16.82h8.28zM19.25 57.9v4.14h9.54v5.31c-2.565 2.61-6.165 3.78-9.99 3.78-8.1 0-12.6-5.31-12.6-11.835 0-6.615 4.59-11.925 12.285-11.925 5.085 0 8.595 2.34 10.17 5.85l3.825-2.205c-2.385-4.815-7.56-7.965-14.13-7.965-10.215 0-16.65 7.335-16.65 16.335 0 8.73 6.3 16.065 17.19 16.065 5.625 0 10.305-1.98 14.085-5.85V57.9H19.25zm24.705-1.125V52.95h-4.23V75h4.23V61.32c1.8-3.42 5.715-4.68 8.775-4.59V52.5c-3.78-.09-6.615 1.215-8.775 4.275zm15.345 9.09c.72 3.51 3.42 5.715 7.92 5.715 2.745 0 5.085-.9 7.155-2.655l1.845 3.42C73.745 74.28 71 75.45 67.355 75.45c-7.65 0-12.375-4.905-12.375-11.565 0-6.165 4.32-11.385 11.385-11.385 7.065 0 11.925 5.175 11.025 13.365H59.3zm-.045-3.6h14.04c-.495-3.915-3.195-5.895-6.93-5.895-4.005 0-6.525 2.385-7.11 5.895zm26.595 3.6c.72 3.51 3.42 5.715 7.92 5.715 2.745 0 5.085-.9 7.155-2.655l1.845 3.42c-2.475 1.935-5.22 3.105-8.865 3.105-7.65 0-12.375-4.905-12.375-11.565 0-6.165 4.32-11.385 11.385-11.385 7.065 0 11.925 5.175 11.025 13.365H85.85zm-.045-3.6h14.04c-.495-3.915-3.195-5.895-6.93-5.895-4.005 0-6.525 2.385-7.11 5.895zm35.91-9.765c-3.375 0-5.805 1.215-7.83 3.6v-3.15h-4.23V75h4.23V60.51c2.115-2.745 4.275-4.05 6.93-4.05 3.24 0 5.31 1.935 5.31 4.95V75h4.23V61.41c0-5.49-3.195-8.91-8.64-8.91zm25.11-6.03c1.215 0 2.655.315 3.96.945V43.68c-1.485-.72-2.97-1.08-4.545-1.08-4.275 0-7.695 2.61-7.695 7.65v2.7h-4.14v3.87h4.14V75h4.23V56.82h8.01v-3.87h-8.01v-2.43c0-2.7 1.575-4.05 4.05-4.05zm10.125 2.43c1.71 0 3.015-1.305 3.015-2.925 0-1.62-1.305-2.925-3.015-2.925-1.71 0-3.015 1.305-3.015 2.925 0 1.62 1.305 2.925 3.015 2.925zm2.115 4.05h-4.23V75h4.23V52.95zm10.17 12.915c.72 3.51 3.42 5.715 7.92 5.715 2.745 0 5.085-.9 7.155-2.655l1.845 3.42c-2.475 1.935-5.22 3.105-8.865 3.105-7.65 0-12.375-4.905-12.375-11.565 0-6.165 4.32-11.385 11.385-11.385 7.065 0 11.925 5.175 11.025 13.365h-18.09zm-.045-3.6h14.04c-.495-3.915-3.195-5.895-6.93-5.895-4.005 0-6.525 2.385-7.11 5.895zM193.04 75h4.23V42.6h-4.23V75zm29.25-31.5h4.23V75h-4.23v-2.925c-1.89 2.295-4.725 3.375-7.785 3.375-6.66 0-11.385-5.22-11.385-11.475S207.845 52.5 214.505 52.5c3.06 0 5.895 1.08 7.785 3.375V43.5zm0 24.615v-8.28c-1.89-2.295-4.185-3.375-7.065-3.375-4.995 0-7.785 3.195-7.785 7.515s2.79 7.515 7.785 7.515c2.88 0 5.175-1.08 7.065-3.375zm13.77 7.335c1.845 0 3.24-1.395 3.24-3.15s-1.395-3.15-3.24-3.15c-1.845 0-3.24 1.395-3.24 3.15s1.395 3.15 3.24 3.15z"
              fill="currentColor"
            ></path>
          </svg>
        </a>

        <div class="hidden print:block ml-auto">www.mattgreenfield.com</div>

        <aside class="theme-picker print:hidden">
          <button
            type="button"
            class="theme-picker__toggle"
            x-on:click="handleClick"
          >
            <span class="theme-picker__toggle__text">Change Theme</span>
            <svg
              stroke="currentColor"
              fill="currentColor"
              stroke-width="0"
              viewBox="0 0 24 24"
              height="1em"
              width="1em"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M17.66 7.93L12 2.27 6.34 7.93c-3.12 3.12-3.12 8.19 0 11.31C7.9 20.8 9.95 21.58 12 21.58c2.05 0 4.1-.78 5.66-2.34 3.12-3.12 3.12-8.19 0-11.31zM12 19.59c-1.6 0-3.11-.62-4.24-1.76C6.62 16.69 6 15.19 6 13.59s.62-3.11 1.76-4.24L12 5.1v14.49z"
              ></path>
            </svg>
          </button>
        </aside>
      </header>
      <main class="container mb-8">
        {{ content }}
      </main>
    </div>
    <footer class="site-footer">
      <div>
        <a aria-label="Matt Greenfield." class="block w-44 mb-4" href="/"
          ><svg
            viewBox="0 0 240 86"
            xmlns="http://www.w3.org/2000/svg"
            width="100%"
          >
            <path fill="var(--color-secondary)" d="M-1 71h241v15H-1z"></path>
            <path
              d="M31.85 3.5L19.7 19.7 7.55 3.5H3.5V35H8V11.15l11.43 15.21h.54L31.4 11.15V35h4.5V3.5h-4.05zm29.97 9.45h4.23V35h-4.23v-2.925c-1.89 2.295-4.725 3.375-7.785 3.375-6.66 0-11.385-5.22-11.385-11.475S47.375 12.5 54.035 12.5c3.06 0 5.895 1.08 7.785 3.375V12.95zm0 15.165v-8.28c-1.89-2.295-4.185-3.375-7.065-3.375-4.995 0-7.785 3.195-7.785 7.515s2.79 7.515 7.785 7.515c2.88 0 5.175-1.08 7.065-3.375zM87.65 16.82v-3.87h-8.28V6.2h-4.23v6.75H71v3.87h4.14V28.7c0 4.59 3.42 6.75 7.47 6.75 1.8 0 3.285-.36 4.77-1.08v-3.735a9.644 9.644 0 0 1-4.185.945c-2.25 0-3.825-.9-3.825-3.15V16.82h8.28zm19.8 0v-3.87h-8.28V6.2h-4.23v6.75H90.8v3.87h4.14V28.7c0 4.59 3.42 6.75 7.47 6.75 1.8 0 3.285-.36 4.77-1.08v-3.735a9.644 9.644 0 0 1-4.185.945c-2.25 0-3.825-.9-3.825-3.15V16.82h8.28zM19.25 57.9v4.14h9.54v5.31c-2.565 2.61-6.165 3.78-9.99 3.78-8.1 0-12.6-5.31-12.6-11.835 0-6.615 4.59-11.925 12.285-11.925 5.085 0 8.595 2.34 10.17 5.85l3.825-2.205c-2.385-4.815-7.56-7.965-14.13-7.965-10.215 0-16.65 7.335-16.65 16.335 0 8.73 6.3 16.065 17.19 16.065 5.625 0 10.305-1.98 14.085-5.85V57.9H19.25zm24.705-1.125V52.95h-4.23V75h4.23V61.32c1.8-3.42 5.715-4.68 8.775-4.59V52.5c-3.78-.09-6.615 1.215-8.775 4.275zm15.345 9.09c.72 3.51 3.42 5.715 7.92 5.715 2.745 0 5.085-.9 7.155-2.655l1.845 3.42C73.745 74.28 71 75.45 67.355 75.45c-7.65 0-12.375-4.905-12.375-11.565 0-6.165 4.32-11.385 11.385-11.385 7.065 0 11.925 5.175 11.025 13.365H59.3zm-.045-3.6h14.04c-.495-3.915-3.195-5.895-6.93-5.895-4.005 0-6.525 2.385-7.11 5.895zm26.595 3.6c.72 3.51 3.42 5.715 7.92 5.715 2.745 0 5.085-.9 7.155-2.655l1.845 3.42c-2.475 1.935-5.22 3.105-8.865 3.105-7.65 0-12.375-4.905-12.375-11.565 0-6.165 4.32-11.385 11.385-11.385 7.065 0 11.925 5.175 11.025 13.365H85.85zm-.045-3.6h14.04c-.495-3.915-3.195-5.895-6.93-5.895-4.005 0-6.525 2.385-7.11 5.895zm35.91-9.765c-3.375 0-5.805 1.215-7.83 3.6v-3.15h-4.23V75h4.23V60.51c2.115-2.745 4.275-4.05 6.93-4.05 3.24 0 5.31 1.935 5.31 4.95V75h4.23V61.41c0-5.49-3.195-8.91-8.64-8.91zm25.11-6.03c1.215 0 2.655.315 3.96.945V43.68c-1.485-.72-2.97-1.08-4.545-1.08-4.275 0-7.695 2.61-7.695 7.65v2.7h-4.14v3.87h4.14V75h4.23V56.82h8.01v-3.87h-8.01v-2.43c0-2.7 1.575-4.05 4.05-4.05zm10.125 2.43c1.71 0 3.015-1.305 3.015-2.925 0-1.62-1.305-2.925-3.015-2.925-1.71 0-3.015 1.305-3.015 2.925 0 1.62 1.305 2.925 3.015 2.925zm2.115 4.05h-4.23V75h4.23V52.95zm10.17 12.915c.72 3.51 3.42 5.715 7.92 5.715 2.745 0 5.085-.9 7.155-2.655l1.845 3.42c-2.475 1.935-5.22 3.105-8.865 3.105-7.65 0-12.375-4.905-12.375-11.565 0-6.165 4.32-11.385 11.385-11.385 7.065 0 11.925 5.175 11.025 13.365h-18.09zm-.045-3.6h14.04c-.495-3.915-3.195-5.895-6.93-5.895-4.005 0-6.525 2.385-7.11 5.895zM193.04 75h4.23V42.6h-4.23V75zm29.25-31.5h4.23V75h-4.23v-2.925c-1.89 2.295-4.725 3.375-7.785 3.375-6.66 0-11.385-5.22-11.385-11.475S207.845 52.5 214.505 52.5c3.06 0 5.895 1.08 7.785 3.375V43.5zm0 24.615v-8.28c-1.89-2.295-4.185-3.375-7.065-3.375-4.995 0-7.785 3.195-7.785 7.515s2.79 7.515 7.785 7.515c2.88 0 5.175-1.08 7.065-3.375zm13.77 7.335c1.845 0 3.24-1.395 3.24-3.15s-1.395-3.15-3.24-3.15c-1.845 0-3.24 1.395-3.24 3.15s1.395 3.15 3.24 3.15z"
              fill="currentColor"
            ></path>
          </svg>
        </a>
        <div class="print:hidden text-base">
          Made with 11ty, Tailwind, and AlpineJs. Hosted on Netlify. Developed
          on Codesandbox.
        </div>
        <small>© {% year %} Matt Greenfield</small>
      </div>
      <ul class="print:hidden sm:ml-auto">
        <li class="text-lg sm:text-right font-semibold">
          <a
            target="__blank"
            class="link"
            href="https://github.com/mattgreenfield"
          >
            Github</a
          >
        </li>
        <li class="text-lg sm:text-right font-semibold">
          <a
            target="__blank"
            class="link"
            href="https://www.linkedin.com/in/matt-greenfield-43737653/"
          >
            LinkedIn</a
          >
        </li>
        <li class="text-lg sm:text-right font-semibold">
          <a
            target="__blank"
            class="link"
            href="https://www.strava.com/athletes/175413"
          >
            Strava</a
          >
        </li>
        <li class="text-lg sm:text-right font-semibold">
          <a href="mailto:gmattgreenfield@gmail.com" class="link">
            gmattgreenfield@gmail.com
          </a>
        </li>
      </ul>
    </footer>
  </body>
</html>
