@import '../../variables.scss';

@font-face {
  font-family: 'Ridley';
  src: url('../../fonts/ridleygrotesk-bold.woff2') format('woff2');
  font-weight: bold;
}

@font-face {
  font-family: 'Ridley';
  src: url('../../fonts/ridleygrotesk-light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Ridley';
  src: url('../../fonts/ridleygrotesk-medium.ttf') format('truetype');
  font-weight: 400;
}

@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
  --color-primary: steelblue;
  --color-secondary: #e7790e;
  --color-secondary-10: #e77b0e4a;
}

* {
  box-sizing: border-box;
  margin-top: 0;
}

html {
  height: 100%;
  background-color: var(--color-primary);
}

body {
  margin: 20px;
  font-family: 'Roboto', 'Arial', sans-serif;
  background-color: white;
  padding: 20px;
  line-height: 1.6;
  font-size: 18px;
  min-height: calc(100% - 40px);
  position: relative;
  padding-bottom: 100px;

  @media screen and (max-width: 770px) {
    margin: 10px;
    padding-bottom: 150px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $ridley-font-stack;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 0.6em;
}

a {
  &,
  a:visited {
    color: inherit;
  }

  text-decoration-color: var(--color-secondary);
  box-shadow: inset 0px -0.15em 0px white,
    inset 0 -0.35em 0 var(--color-secondary);
}

a:hover {
  color: #333;
  background-color: var(--color-secondary-10);
}

a.plain {
  color: inherit;
  text-decoration-color: currentColor;
  box-shadow: none;

  &:hover {
    color: #333;
  }
}

::selection {
  background: var(--color-secondary-10);
}

pre {
  background: #333;
  color: white;
  padding: 20px;
}

.PageWrapper {
  margin: 0 auto;
  display: block;
}

.PageWrapper--medium {
  max-width: 960px;
}

.PageWrapper--large {
  max-width: 1200px;
}
