@import '../../variables.scss';

.PostList {
  margin-bottom: 5em;
}

.PostList__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.PostList__item {
  margin-bottom: 0.4em;
  font-size: 1.9em;
  display: inline-block;

  @media screen and (max-width: 770px) {
    font-size: 1.2em;
  }
}

.PostList__link {
  margin-top: 2em;
  display: inline-block;
}
