.card {
  @apply px-3 py-6 sm:p-6  bg-white text-gray-800 overflow-hidden;
  @apply print:border-none print:p-0 print:rounded-none;
  /* @apply border-gray-200 rounded-lg border; */
  @apply border-black rounded border-2;
}

a.card {
  transition: box-shadow 200ms ease, transform 200ms ease;

  &:hover {
    transform: translate(4px, -4px);
    box-shadow: -8px 8px 0 var(--color-secondary);
  }
}

.card.follow-cursor {
  transform: rotate(calc(var(--pos-y) * 0.1deg));
  box-shadow: calc(var(--pos-x) * -1px) calc(var(--pos-y) * -1px) 0
    var(--color-secondary);
}
