@font-face {
  font-family: "Ridley";
  src: url("../fonts/ridleygrotesk-light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Ridley";
  src: url("../fonts/ridleygrotesk-medium.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Ridley";
  font-weight: 600;
  src: url("../fonts/ridleygrotesk-semibold.ttf") format("truetype");
}

@font-face {
  font-family: "Ridley";
  font-weight: 700;
  src: url("../fonts/ridleygrotesk-bold.woff2") format("woff2");
}
