@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "./font-face.css";
@import "./variables.css";
@import "./reset.css";
@import "./container.css";
@import "./header.css";
@import "./card.css";
@import "./tag.css";
@import "./themes.css";
@import "./theme-picker.css";

[x-cloak] {
  display: none;
}

html {
  @apply sm:text-[18px];
}

.page {
  background-color: var(--color-page-bg);
  color: var(--color-text);
  min-height: calc(100% - 20px);
  overflow: hidden;
  z-index: 1;
  box-shadow: 6px 6px 15px -7px #6a6a6a;

  @apply flex flex-col relative p-3 sm:p-4 md:p-6 leading-relaxed m-2 sm:m-2.5;

  transition-property: color background-color;
  transition-duration: 0.1s;
  transition-timing-function: ease-in;

  @apply print:p-4 print:text-base;

  > main {
    flex-grow: 1;
  }
}

.site-footer {
  @apply flex flex-col-reverse sm:flex-row  items-start sm:items-end px-5 mx-auto max-w-screen-2xl sticky bottom-0 gap-10 sm:gap-2 pt-40 pb-4;
  text-shadow: 0px -1px 0px #c8c8c87a;

  --color-page-bg: var(--color-primary);
}

.button {
  border: 2px solid;
  border-radius: 2px;
  padding: 10px 16px;
  display: block;
  position: relative;
  overflow: hidden;

  > span {
    position: relative;
    z-index: 1;
  }

  &:after {
    content: "";
    background: var(--color-secondary);
    aspect-ratio: 1;
    opacity: 0.8;
    @apply inset-0 absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 rounded-full transition-all w-0;
  }
  &:hover:after {
    width: 110%;
  }
}

.carousel {
  @apply flex gap-4 pb-4 overflow-auto snap-x -mx-6 scroll-smooth;

  &::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none;
  -ms-overflow-style: none;

  img {
    width: auto;
    height: 100%;
  }
}

.info-box {
  background: rgb(239 246 255);
  margin: 0 0 2em;
  font-size: 16px;
  color: rgb(29 78 216);
  padding: 1rem;
  border-radius: 0.4rem;
  position: relative;
  @apply print:hidden sm:pl-20 pt-16 sm:pt-4;

  > * {
    margin-bottom: 0;
  }

  &::before {
    content: "👋";
    position: absolute;
    font-size: 2rem;
    @apply top-2.5 sm:top-auto sm:left-6;
  }
}

.link {
  text-decoration-color: var(--color-secondary);
  box-shadow: inset 0px -0.15em 0px var(--color-page-bg),
    inset 0 -0.35em 0 var(--color-secondary);

  &,
  &:visited {
    color: inherit;
  }

  &:hover {
    color: var(--color-text-light);
  }

  &:focus {
    border-radius: 6px;
    @extend %focus;
  }
}

.link-with-arrow {
  &:after {
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3C!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --%3E%3Cpath d='M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z'/%3E%3C/svg%3E");
    width: 1em;
    height: 1em;
    margin-left: 6px;
    @apply bg-no-repeat relative top-[3px] inline-block transition-transform;
  }

  .group:hover &:after,
  &:hover:after {
    @apply translate-x-1;
  }
}
