html {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-sans;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 0.4em;
  @apply print:mt-5;
}

h1 {
  @apply text-4xl sm:text-[2.8rem];
}
h2 {
  @apply text-xl sm:text-[1.6rem];
}
h3 {
  font-size: 1.4rem;
}
h4 {
  font-size: 1.3rem;
}

button {
  border: 0;
  background: none;
  padding: 0;
  font-family: inherit;
  color: inherit;
  font-size: inherit;

  &:focus {
    @extend %focus;
  }
}

::selection {
  background: var(--color-secondary);
  color: white;
}

code,
pre {
  background: #333;
  color: white;
}

pre {
  padding: 20px;
}

code {
  padding: 2px;
}
