.theme-picker {
  @apply font-sans;
  position: absolute;
  right: 10px;
  top: 10px;
}

.theme-picker__toggle {
  border-radius: 1em;
  color: transparent;
  cursor: pointer;
  display: flex;
  font-size: 32px;
  overflow: hidden;
  position: relative;
  transition: width 0.2s ease-in-out, background-color 0.2s ease-in,
    color 0.1s 0.1s ease-in;
  height: 44px;
  width: 52px;

  svg {
    color: var(--color-text);
    display: block;
    position: absolute;
    right: 10px;
    top: 6px;
  }

  &:hover,
  &:focus {
    background-color: var(--color-text);
    color: var(--color-page-bg);

    @media screen and (min-width: 640px) {
      width: 194px;
    }

    svg {
      color: currentColor;
    }
  }
}

.theme-picker__toggle__text {
  @apply hidden sm:block whitespace-nowrap text-base mx-5 my-2.5;
}
