:root {
  --color-page-bg: #f9f8e6;
  --color-text: #191919;
  --color-text-light: #5a5a5a;
  --color-primary: steelblue;
  --color-secondary: #e7790e;
  --gradient-start: var(--color-primary);
  --gradient-end: var(--color-primary);
  --gradient-angle: 60deg;
}
