@import '../../variables.scss';

.Billboard {
  font-size: 90px;
  margin: 18vh 0;
  font-family: $ridley-font-stack;
  line-height: 1;
  text-align: center;

  @media screen and (max-width: 770px) {
    font-size: 14vw;
  }
}

.Billboard__heading {
  font-size: 1em;
  font-weight: bold;
}

.Billboard__sub {
  font-size: 0.48em;
  display: block;
  font-weight: 300;
}
