.Footer {
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 0;
  align-items: flex-end;

  @media screen and (max-width: 770px) {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
}

.Footer__links,
.Footer__contact {
  margin-left: -20px;
  margin-bottom: 15px;

  a {
    margin-left: 20px;
  }
}

.Footer__icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  transition: color 0.2s ease-in;

  &:hover {
    color: var(--color-secondary);
  }

  svg {
    width: 100%;
    height: 100%;
  }
}
