@import '../variables.scss';

@font-face {
  font-family: 'Ridley';
  src: url('../fonts/ridleygrotesk-light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Ridley';
  src: url('../fonts/ridleygrotesk-medium.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Ridley';
  font-weight: 500;
  src: url('../fonts/ridleygrotesk-semibold.ttf') format('truetype');
}

@font-face {
  font-family: 'Ridley';
  font-weight: 700;
  src: url('../fonts/ridleygrotesk-bold.woff2') format('woff2');
}

:root {
  --color-page-bg: white;
  --color-text: #191919;
  --color-text-light: #5a5a5a;
  --color-primary: steelblue;
  --color-secondary: #e7790e;
  --gradient-start: var(--color-primary);
  --gradient-end: var(--color-primary);
  --gradient-angle: 60deg;
}

* {
  box-sizing: border-box;
  margin-top: 0;
}

%focus {
  box-shadow: 0 0 0 2px var(--color-primary),
    0 0 0px 6px rgba(cornflowerblue, 0.3);
  outline: none;
}

html {
  height: 100%;
}

body {
  margin: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: var(--color-page-bg);
  color: var(--color-text);
  padding: 25px;
  line-height: 1.6;
  font-size: 18px;
  min-height: calc(100% - 20px);
  position: relative;
  padding-bottom: 100px;

  transition-property: color background-color;
  transition-duration: 0.1s;
  transition-timing-function: ease-in;

  @media screen and (max-width: 770px) {
    padding-bottom: 150px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $ridley-font-stack;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 0.4em;
  margin-top: 0.7em;
}

a {
  text-decoration-color: var(--color-secondary);
  box-shadow: inset 0px -0.15em 0px white,
    inset 0 -0.35em 0 var(--color-secondary);

  &,
  &:visited {
    color: inherit;
  }

  &:hover {
    color: var(--color-text-light);
  }

  &:focus {
    border-radius: 6px;
    @extend %focus;
  }
}

.plain-link {
  color: inherit;
  text-decoration-color: currentColor;
  box-shadow: none;

  &:hover {
    color: var(--color-text-light);
  }
}

.meta {
  color: grey;
  font-size: 16px;
}

button {
  border: 0;
  background: none;
  padding: 0;
  font-family: inherit;
  color: inherit;
  font-size: inherit;

  &:focus {
    @extend %focus;
  }
}

::selection {
  background: var(--color-secondary);
  color: white;
}

code,
pre {
  background: #333;
  color: white;
}

pre {
  padding: 20px;
}

code {
  padding: 2px;
}

.PageWrapper {
  margin: 0 auto;
  display: block;
}

.PageWrapper--medium {
  max-width: 960px;
}

.PageWrapper--large {
  max-width: 960px;
}

.mb-6 {
  margin-bottom: 6rem;
}

//
// Themes
.theme {
  transition: background-color 0.2s ease-in;
  background-color: var(--gradient-start);
  background-attachment: fixed;
  background-image: linear-gradient(
    var(--gradient-angle),
    transparent 0%,
    var(--gradient-end) 100%
  );
}

.theme--default,
.theme--blue {
  --gradient-start: var(--color-primary);
  --gradient-end: var(--color-primary);
}

.theme--red {
  --color-secondary: #d53369;
  --gradient-start: #d53369;
  --gradient-end: #daae51;

  background-image: repeating-linear-gradient(
    45deg,
    transparent 0%,
    transparent 50%,
    var(--gradient-end) 50%,
    var(--gradient-end) 100%
  );
}

.theme--fugio {
  --color-secondary: #143b58;
  --gradient-start: var(--color-secondary);
  --gradient-end: #c79041;
  --color-page-bg: #fdfdfd;

  background-image: repeating-linear-gradient(
    90deg,
    transparent 0,
    transparent 25%,
    var(--gradient-end) 25%,
    var(--gradient-end) 40%,
    #e8e8e8 40%,
    #e8e8e8 100%
  );
}

.theme--yellow {
  --color-secondary: #fdbb2d;
  --gradient-start: #fdbb2d;
  --gradient-end: #22c1c3;
  --color-page-bg: #f9f8e6;
}

.theme--pink {
  --color-secondary: #ffd1ff;
  --gradient-start: #fad0c4;
  --gradient-end: #ffd1ff;
}

.theme--beach {
  --color-secondary: #edb013;
  --gradient-start: #146887;
  --gradient-end: #edb013;

  background-image: repeating-linear-gradient(
    0deg,
    transparent 0,
    transparent 25%,
    var(--gradient-end) 25%,
    var(--gradient-end) 80%,
    #e8e8e8 80%,
    #e8e8e8 100%
  );
}

.theme--build {
  --color-secondary: yellow;
  --gradient-start: yellow;
  --gradient-end: black;

  background-image: repeating-linear-gradient(
    45deg,
    transparent 0px,
    transparent 20px,
    var(--gradient-end) 20px,
    var(--gradient-end) 40px
  );
}

.theme--dark {
  --color-page-bg: #292929;
  --color-text: #f9f8e6;
  --color-text-light: #f9f8e6;
  --gradient-start: #403f3f;
  --gradient-end: #403f3f;
}

//
// Helpers
.reset-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.grid-list {
  margin-left: -10px;

  > * {
    vertical-align: top;
    display: inline-block;
    padding-left: 10px;
  }
}
